Keylol.SteamBot/Service References/ServiceReference/SteamBotCoodinator42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSteamBotDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SteamBotDTO" nillable="true" type="tns:SteamBotDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteamBotDTO" nillable="true" type="tns:ArrayOfSteamBotDTO" />
  <xs:complexType name="SteamBotDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SteamBotDTO" nillable="true" type="tns:SteamBotDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamerTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasNewComment" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasNewLike" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockoutEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProfilePointBackgroundImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamBot" nillable="true" type="tns:SteamBotDTO" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subscribed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubscribedPointCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriberCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
</xs:schema>