Keylol.SteamBot/Service References/ServiceReference/SteamBotCoodinator41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoodinator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" />
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoodinator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" />
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoodinator.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Keylol.Services.Contracts" />
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoodinator.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AllocateBots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateBotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="AllocateBotsResult" nillable="true" type="q1:ArrayOfSteamBotDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" minOccurs="0" name="vms" nillable="true" type="q2:ArrayOfSteamBotUpdateRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Keylol.Services.Contracts" minOccurs="0" name="status" type="q3:StatusClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserSteamProfileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBindingToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCMServerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="GetUserBySteamIdResult" nillable="true" type="q4:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySteamIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="steamIds" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySteamIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="GetUsersBySteamIdsResult" nillable="true" type="q6:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamProfileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamAvatarHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithBindingTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSteamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithLoginTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastBotOnFriendAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSteamFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>