Keylol.SteamBot/Service References/ServiceReference/SteamBotCoordinator4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoordinator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" />
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoordinator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Keylol.Services.Contracts" />
  <xs:import schemaLocation="https://localhost:44300/Services/SteamBotCoordinator.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RequestBots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateBots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateBotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="AllocateBotsResult" nillable="true" type="q1:ArrayOfSteamBotDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeallocateBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeallocateBotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendCount" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="online" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Keylol.Services.Contracts" minOccurs="0" name="status" type="q2:StatusClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBindingToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="GetUserBySteamIdResult" nillable="true" type="q3:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySteamIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="steamIds" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySteamIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="GetUsersBySteamIdsResult" nillable="true" type="q5:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamProfileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userSteamAvatarHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithBindingTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSteamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithLoginTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastBotOnFriendAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocatedBots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocatedBotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllocatedBotsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReallocateBots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReallocateBotsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSteamFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>