Keylol.SteamBot/Service References/ServiceReference/SteamBotCoodinator42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSteamBotDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SteamBotDto" nillable="true" type="tns:SteamBotDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteamBotDto" nillable="true" type="tns:ArrayOfSteamBotDto" />
  <xs:complexType name="SteamBotDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SteamBotDto" nillable="true" type="tns:SteamBotDto" />
  <xs:complexType name="ArrayOfSteamBotUpdateRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SteamBotUpdateRequestDto" nillable="true" type="tns:SteamBotUpdateRequestDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteamBotUpdateRequestDto" nillable="true" type="tns:ArrayOfSteamBotUpdateRequestDto" />
  <xs:complexType name="SteamBotUpdateRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SteamBotUpdateRequestDto" nillable="true" type="tns:SteamBotUpdateRequestDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AutoSubscribeDaySpan" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AutoSubscribeEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AvatarImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coupon" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamerTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LikeCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LockoutEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePointBackgroundImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShortReviewCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StaffClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusClaim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamBot" nillable="true" type="tns:SteamBotDto" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamNotifyOnArticleLiked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamNotifyOnArticleReplied" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamNotifyOnCommentLiked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamNotifyOnCommentReplied" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subscribed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubscribedPointCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriberCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
</xs:schema>