Keylol.SteamBot/Service References/ServiceReference/SteamBotCoordinator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSteamBotDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SteamBotDto" nillable="true" type="tns:SteamBotDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteamBotDto" nillable="true" type="tns:ArrayOfSteamBotDto" />
  <xs:complexType name="SteamBotDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="SequenceNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamId64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteamUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SteamBotDto" nillable="true" type="tns:SteamBotDto" />
</xs:schema>