Keylol.SteamBot/Service References/ServiceReference/SteamBotCoodinator4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSteamBotUpdateRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SteamBotUpdateRequestDto" nillable="true" type="tns:SteamBotUpdateRequestDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSteamBotUpdateRequestDto" nillable="true" type="tns:ArrayOfSteamBotUpdateRequestDto" />
  <xs:complexType name="SteamBotUpdateRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SteamBotUpdateRequestDto" nillable="true" type="tns:SteamBotUpdateRequestDto" />
</xs:schema>