Keylol.ImageGarage/Service References/ServiceReference/ImageGarageCoordinator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageGarageCoordinator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IImageGarageCoordinator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44300/Services/ImageGarageCoordinator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44300/Services/ImageGarageCoordinator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/Services/ImageGarageCoordinator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageGarageCoordinator_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_FindArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:FindArticle" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_FindArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_FindArticleComment_InputMessage">
    <wsdl:part name="parameters" element="tns:FindArticleComment" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_FindArticleComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindArticleCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_UpdateArticleComment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleComment" />
  </wsdl:message>
  <wsdl:message name="IImageGarageCoordinator_UpdateArticleComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleCommentResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IImageGarageCoordinator">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageGarageCoordinator/Ping" message="tns:IImageGarageCoordinator_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageGarageCoordinator/PingResponse" message="tns:IImageGarageCoordinator_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageGarageCoordinator/FindArticle" message="tns:IImageGarageCoordinator_FindArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageGarageCoordinator/FindArticleResponse" message="tns:IImageGarageCoordinator_FindArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageGarageCoordinator/UpdateArticle" message="tns:IImageGarageCoordinator_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageGarageCoordinator/UpdateArticleResponse" message="tns:IImageGarageCoordinator_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindArticleComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageGarageCoordinator/FindArticleComment" message="tns:IImageGarageCoordinator_FindArticleComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageGarageCoordinator/FindArticleCommentResponse" message="tns:IImageGarageCoordinator_FindArticleComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateArticleComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageGarageCoordinator/UpdateArticleComment" message="tns:IImageGarageCoordinator_UpdateArticleComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageGarageCoordinator/UpdateArticleCommentResponse" message="tns:IImageGarageCoordinator_UpdateArticleComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IImageGarageCoordinator" type="tns:IImageGarageCoordinator">
    <wsp:PolicyReference URI="#NetHttpBinding_IImageGarageCoordinator_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IImageGarageCoordinator/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArticle">
      <soap12:operation soapAction="http://tempuri.org/IImageGarageCoordinator/FindArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap12:operation soapAction="http://tempuri.org/IImageGarageCoordinator/UpdateArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindArticleComment">
      <soap12:operation soapAction="http://tempuri.org/IImageGarageCoordinator/FindArticleComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticleComment">
      <soap12:operation soapAction="http://tempuri.org/IImageGarageCoordinator/UpdateArticleComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageGarageCoordinator">
    <wsdl:port name="NetHttpBinding_IImageGarageCoordinator" binding="tns:NetHttpBinding_IImageGarageCoordinator">
      <soap12:address location="wss://localhost:44300/Services/ImageGarageCoordinator.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>wss://localhost:44300/Services/ImageGarageCoordinator.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>