Keylol.SteamBot/Service References/CoodinatorService/SteamBotCoodinator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38328/Services/SteamBotCoodinator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" />
  <xs:import schemaLocation="http://localhost:38328/Services/SteamBotCoodinator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" />
  <xs:element name="AllocateBots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateBotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="AllocateBotsResult" nillable="true" type="q1:ArrayOfSteamBotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Keylol.Models.ViewModels" minOccurs="0" name="vms" nillable="true" type="q2:ArrayOfSteamBotVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBotsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steamId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBySteamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Keylol.Models.DTO" minOccurs="0" name="GetUserBySteamIdResult" nillable="true" type="q3:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSteamId" type="xs:long" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithBindingTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithBindingTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSteamId" type="xs:long" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSteamUserWithLoginTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindSteamUserWithLoginTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastBotOnFriendAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSteamFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="steamId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>